html {
    min-height: 100%;
    postition:relative;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
    z-index: 1;
}

#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

.angular-google-map-container {
    height: 400px;
}

.angular-google-map {
    height: 400px;
}

